#!/bin/bash

#Process global xinitrc scripts
if [ -d /etc/X11/xinit/xinitrc.d ]; then
    for f in /etc/X11/xinit/xinitrc.d/*; do
        [ -x "$f" ] && . "$f"
    done
    unset f
fi

{% if term_xrandr_custom_mode|bool -%}
# Add xrandr modes
xrandr --newmode "{{ term_xrandr_primary_resolution }}"  118.25  1600 1696 1856 2112  900 903 908 934 -hsync +vsync
xrandr --addmode VGA-0 {{ term_xrandr_primary_resolution }}

{% endif -%}

# Organize Displays
~/bin/xrandr_laptop.sh

#Activate Numlock
numlockx &

#Remap Caps Lock to Esc
setxkbmap -option caps:escape

#Start pulseaudio
#pulseaudio &

#Start i3
exec i3
